%dms-b {
    font-family: 'DMSans';
    font-weight: 700;
}

%dms-m {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%dms-r {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%pop-b {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

%rubik-m {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%rubik-r {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%title {
    font-size: 36px;
    color: rgb(25, 25, 25);
    line-height: 1.2;
    @extend %dms-b;

}

@function max($numbers...){
   @return m#{a}x(#{$numbers});
}
@function min($numbers...){
    @return m#{i}n(#{$numbers});
}