.container {
    max-width: 1770px;
    margin: 0 auto;
}

.box {
    max-width: 1170px;
    margin: 0 auto;
}

.d_flex{
    display: flex;
}

.space_between{
    justify-content: space-between;
}
body{
    background-color: white;
}