%dms-b {
    font-family: 'DMSans';
    font-weight: 700;
}

%dms-m {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%dms-r {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%pop-b {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

%rubik-m {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%rubik-r {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%hide-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

%title {
    font-size: 36px;
    color: rgb(25, 25, 25);
    line-height: 1.2;
    @extend %dms-b;

}
%uppercase{
    text-transform: uppercase;
}

@function max($numbers...){
   @return m#{a}x(#{$numbers});
}
@function min($numbers...){
    @return m#{i}n(#{$numbers});
}