.s-icon {
    width: 51px;
    height: 54px;
}

.s-search,
.s-cart,
.s-favorites {
    width: 22px;
    height: 20px;
}

.s-right-arrow {
    width: 22px;
    height: 9px;
}

.right-hooks {
    width: 6px;
    height: 10px;
}

.social {
    margin: auto;
    fill: #666;
    margin-left: 20px;
    transition: .3s;
}

.facebook {
    width: 9px;
    height: 16px;
}

.twiter {
    width: 15px;
    height: 13px;
}

.instagram {
    width: 15px;
    height: 14px;
}

.google {
    width: 19px;
    height: 12px;
}

.reply-arrow {
    width: 15px;
    height: 11px;
    fill: #526278;
    transition: .3s;
}


.contact-icon {
    fill: $bg-color;
    transition: .3s;
}

.location {
    width: 31px;
    height: 44px;
}

.mail {
    width: 37px;
    height: 35px;
}

.phone {
    width: 37px;
    height: 45px;
}