.menu {
    transition: .3s;

    @media(max-width: $sm) {
        position: absolute;
        transform: translateX(-200%);
        top: 160px;
        left: 0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $pink-bg;
        z-index: 5;
        padding: 20px;
    }

    &.menu--active {
        transform: translateX(0);
        transition: 0.3s;
    }

    &__item {
        padding-bottom: 8px;

        &:not(:last-child) {
            margin-right: 12px;
        }

        @media(max-width: $sm) {
            width: 100%;
            text-align: center;
            margin: auto;
            padding: 15px;
        }
    }

    &__link {
        color: #334c59;
        @extend %rubik-m;
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 0.3px;
        padding: 3px 10px 5px;
        transition: all .3s;
        border-top: 2px solid transparent;

        &:focus {
            outline: transparent;
            border-top: 2px solid black;
        }

        &:hover {
            background-color: $pink-bg;
            border-radius: 50px;
        }



        &:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &--active {
            background-color: $pink-bg;
            border-radius: 50px;
        }

    }
}