.partners {
    padding: 80px 0 90px;
    background-color: #fef7f0;
    max-height: 250px;

    &__slider {
        display: flex;
        justify-content: space-around;
    }
    &__links{
        margin-top: auto;
    }

    &__logo {
        margin: 0 auto;
    }
}