.partners {
    padding: 80px 0 90px;
    background-color: #fef7f0;
    max-height: 250px;

    @media(max-width:$sm) {
        display: none;

    }

    &__slider {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__logo {
        margin: 0 auto;
    }
}