.product-promotion {
    position: relative;
    border: 1px solid transparent;
    transition: border-color .3s;

    @media(max-width:$vs) {

        margin: auto;
    }

    &:hover {
        border-color: $title-color;
    }


    &__info {
        @extend %dms-b;
        position: absolute;
        top: 35px;
        left: 35px;
        max-width: 195px;
    }

    &__subtitle {
        font-size: 20px;
        color: $title-color;
    }

    &__text {
        font-size: 16px;
        line-height: 1.2;
        color: $bg-color;
        display: block;
        margin-top: 15px;
    }
}