.product-card {
    position: relative;

    @media(max-width: $lg) {
        min-width: 240px;
        max-width: 270px;
        margin: 0 auto;
    }

    &:hover {
        .product-card__buttons {
            opacity: 1;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 270px;
        height: 380px;
        border-radius: 8px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        text-align: center;

        @media(max-width: $md) {
            height: 340px;
        }
    }

    &__img-inner {
        margin: auto auto 0px;
    }

    &__img {


        @media(max-width: $md) {
            padding: 10px;
            margin: auto;
        }
    }

    &__info {
        @extend %dms-b;
        height: 155px;
        display: flex;
        flex-direction: column;

        @media(max-width: $md) {
            height: 100px;
        }
    }

    &__star {
        display: none;
    }

    &__name {
        font-size: 16px;
        line-height: 1.2;
        color: #243f4d;
        margin-top: auto;
        margin-bottom: 12px;
    }

    &__price {
        font-size: 16px;
        color: $bg-color;
        line-height: 1.2;
        margin-bottom: 37px;
    }

    &__text {
        display: none;
    }

    &__btns {
        display: none;
    }

    &__buttons {
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all .5s;

        @media(max-width: $md) {
            opacity: 1;
        }

    }

    .s-search,
    .s-cart,
    .s-favorites {
        margin: auto;
        fill: #a3bbc8;
    }

    &__button {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        box-shadow: 0px 3px 3px 2px rgba(37, 37, 37, 0.35);
        outline: transparent;
        border: 1px solid transparent;
        transition: all .3s;
        cursor: pointer;
        background-color: #fefefe;
        text-align: center;
        padding-top: 11px;

        &:hover {
            background-color: $bg-color;

            .s-search,
            .s-cart,
            .s-favorites {
                fill: white;
            }
        }

        &:focus {
            border: 1px solid gray;
        }

        &--search {
            &:active {
                box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
            }
        }

        &--cart {
            &:active {
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        &--favorites {
            &:active {
                box-shadow: inset -4px 0px 4px rgba(0, 0, 0, 0.25);
            }
        }

        &:not(:last-child) {
            margin-right: 16px;

            @media(max-width: $sm) {
                margin-right: 10px;
            }
        }

    }

    &--list {
        grid-column-start: 1;
        grid-column-end: 4;
        max-height: 500px;

        @media(max-width: $lg) {
            max-width: 100%;
            margin: 0 auto;
            max-height: 100%;
        }

        .product-card__item {
            flex-direction: row;
            max-width: 100%;
            justify-content: flex-start;
            height: 100%;
            box-shadow: none;

            @media(max-width: $sm) {
                flex-direction: column;
            }
        }

        .product-card__img-inner {
            border: 2px solid #f2f2f2;
            min-width: 370px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width: $sm) {
               min-width: 300px;
            }
        }

        .product-card__img {
            margin: auto;
            height: 340px;
            width: auto;
        }

        .product-card__info {
            height: 100%;
            width: 100%;
            padding-left: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media(max-width: $sm) {
                padding-left: 0;
            }

        }

        .product-card__name {
            text-align: left;
            font-size: 40px;
            margin-bottom: 27px;
            margin-top: 0;
            @extend %rubik-r;
        }

        .product-card__star {
            display: block;
            margin-bottom: 40px;
        }

        .product-card__price {
            font-size: 30px;
            text-align: left;
            color: #333333;
            margin-bottom: 40px;
            @extend %rubik-r;
        }

        .product-card__text {
            display: block;
            max-width: 405px;
            text-align: left;
            color: #243f4d;
            margin-bottom: 30px;
            @extend %rubik-r;
            line-height: 1.6;
        }

        .product-card__btns {
            text-align: left;
            display: flex;
        }

        .product-card__btn {
            width: 50px;
            height: 50px;
            border: none;
            background-color: white;
            justify-content: center;
            align-items: center;
            margin-right: 10px;


            &:hover {
                background-color: #a3bac7;

                .s-cart,
                .s-favorites {
                    fill: white;
                }
            }

            &--active {
                background-color: #a3bac7;

                .s-cart,
                .s-favorites {
                    fill: white;
                }
            }
        }

        .product-card__buttons {
            display: none;
        }
    }
}