.recent {
    padding: 15px;
    border-radius: 8px;
    transition: .3s;

    &:hover {
        background-color: #edf1f4;
    }

    &__img {
        margin-right: 15px;
    }

    &__info {
        color: #243f4d;
        padding: 6px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 170px;
    }

    &__name {
        @extend %rubik-r;
        font-size: 14px;
    }
}