.video {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;

    &__link {
        margin: auto;
        width: 130px;
        height: 130px;
        justify-content: center;
        align-items: center;
        animation-duration: 3s;
        animation-name: video-link;
        animation-iteration-count: infinite;
    }

}

@keyframes video-link {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}