.articles {
    padding-top: 120px;

    &__inner {
        padding-bottom: 45px;
    }

    &__title {
        @extend %title;
    }

    &__link {
        margin: auto 0;
        @extend %dms-b;
        font-size: 16px;
        line-height: 1.2;
        color: #262626;
        align-items: center;
    }

    &__items {
        margin-bottom: -169px;

        @media(max-width:$lg) {
            margin-bottom: 30px;
            flex-wrap: wrap;
            justify-content: space-around;

        }
    }

    &__partners {
        padding: 260px 0 150px;

        @media(max-width:$lg) {
            padding: 80px 0 60px;

        }
    }
}