.blog {
    padding-top: 120px;

    @media(max-width: $md) {
        flex-direction: column;
    }

    &__pages {
        max-width: 345px;
    }

    &__filters {
        max-width: 270px;
        margin: 0 auto 60px;

        @media(max-width: $md) {
            order: -1;
        }
    }

    &__date {
        color: #9a9a9a;
        font-size: 12px;
        text-transform: uppercase;
    }

}
