.experience {
    padding-top: 120px;

    &__inner {
        background-position: left top;
        background-repeat: no-repeat;
        background-size: initial;
        justify-content: flex-end;
        margin-bottom: 120px;
    }

    &__info {
        flex-direction: column;
        justify-content: flex-end;
        padding: 80px 0 0;
        max-width: 550px;
    }

    &__subtitle {
        flex-direction: column;
        padding: 15px 0 35px 185px;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: initial;
    }

    &__subtitle-info {
        display: block;
        @extend %rubik-r;
        font-size: 16px;
        line-height: 1.2;
        color: #243f4d;
        margin-bottom: 15px;
    }

    &__title {
        @extend %dms-b;
        font-size: 36px;
        margin-bottom: 40px;
    }

    &__text {
        @extend %rubik-r;
        font-weight: normal;
        color: #243f4d;
        margin-bottom: 65px;
        line-height: 1.7;
    }

    &__sub-total {
        padding-top: 30px;
        border-top: 2px solid #e6eaf0;
        justify-content: space-around;
        margin-bottom: 80px;
    }

    &__sub-item {
        @extend %dms-b;
        font-size: 36px;
        line-height: 1.2;
        padding: 10px 27px 15px 55px;
        justify-content: center;
        flex-direction: column;
        background-position: left;
        background-repeat: no-repeat;

        &:not(:last-child) {
            border-right: 1px solid #e6eaf0;
        }
    }

    &__sub-info {
        @extend %dms-b;
        color: #4c4c4c;
        font-size: 16px;
    }

}