.footer {
    &__inner {
        padding: 80px 0 70px;

        @media(max-width:$lg) {
            flex-wrap: wrap;
            justify-content: space-around;

        }
    }

    &__address {
        width: 300px;
        font-style: normal;

        @media(max-width:$lg) {
            width: 220px;
            text-align: center;

        }

    }

    &__text {
        @extend %rubik-r;
        font-size: 14px;
        color: #a7a7a7;
        line-height: 1.7;
        padding-top: 30px;
        max-width: 200px;


    }

    &__info {
        color: #a7a7a7;
        display: block;
        margin-top: 10px;

        &:hover {
            color: #234969;

        }
    }

    &__contact {
        display: block;

    }

    &__service {
        width: 300px;

        @media(max-width:$lg) {
            width: 220px;
            text-align: center;
        }

    }

    &__subtitle {
        @extend %dms-b;
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 23px;
        text-transform: uppercase;
        padding-top: 15px;
    }


    &__item {
        margin-bottom: 15px;

    }

    &__link {
        @extend %rubik-r;
        font-size: 14px;
        line-height: 1.2;
        color: #a7a7a7;
        transition: .3s;

        &:hover {
            color: #7b7b7b;
            letter-spacing: 0.6px;
        }
    }

    &__account {
        width: 300px;

        @media(max-width:$lg) {
            width: 220px;
            text-align: center;
        }
    }

    &__newsletter {
        max-width: 270px;

        @media(max-width:$lg) {
            width: 220px;
            text-align: center;
        }
    }

    &__subscribe {
        @extend %rubik-r;
        font-size: 14px;
        line-height: 1.2;
        color: #a7a7a7;
        margin-bottom: 42px;
    }

    &__form {
        justify-content: center;
    }

    &__input {
        width: 100%;
        margin: 0;
        background-color: #fef7f0;
        border: none;
        height: 38px;
        padding: 0 16px;

        &::placeholder {
            @extend %dms-r;
            font-size: 14px;
            line-height: 1.2;
            color: #234969;
        }
    }

    &__button {
        @extend %dms-r;
        border: none;
        font-size: 14px;
        line-height: 1.2;
        background-color: $bg-color;
        color: white;
        padding: 11px 16px;
        transition: all .5s;
        cursor: pointer;

        &:hover {
            color: $bg-color;
            background-color: #334c59;
        }
    }

    &__copy {
        border-top: 1px solid #dae4e9;
        padding: 35px 0;

        @media(max-width:$vs) {
            justify-content: center;
            flex-wrap: wrap;

        }
    }

    &__copyright {
        @extend %rubik-r;
        font-size: 14px;
        line-height: 1.2;
        color: #a7a7a7;

        @media(max-width:$vs) {
            margin-bottom: 30px;

        }
    }

    &__copy-item {
        padding: 0 17px;

        &:not(:first-child) {
            border-left: 1px solid #7b7b7b;
        }

        &:last-child {
            padding-right: 0px;
        }
    }


    &__copy-link {
        @extend %rubik-r;
        font-size: 14px;
        line-height: 1.2;
        color: #7b7b7b;

        &:hover {
            color: #334c59;
        }
    }
}