.header {
    padding-top: 48px;
    margin-bottom: 45px;

    &__navigation {
        align-items: center;
    }

    &__menu {
        margin-left: 154px;
    }

    &__user {
        padding: 2px;
    }

    &__search {
        height: 50px;
        width: 50px;
        padding: 18px;
        background-color: #edf1f4;
        border-radius: 50%;
        background-image: url('../images/icon.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
        border: none;
        margin-right: 21px;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background-color: #a3bbc8;
            background-size: 60%;
        }

        &:focus {
            outline: transparent;
            border-left: 1px solid black;
        }

        &:active {
            box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.75);
        }
    }

    &__desires {
        background-color: #fcd7b6;
        padding: 9px 13px;
        border-radius: 50px;
        margin-right: 18px;
    }

    &__favorites {
        background-image: url('../images/like.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-position-y: 13px;
        background-position-x: 28px;
        padding: 13px 38px 2px;
        position: relative;
        transition: all .5s;
        border-radius: 50px 0 0 50px;

        &:hover {
            background-position-y: 0;
            background-position-x: 20px;
            background-size: 45%;

            & .header__number {
                width: 20px;
                height: 20px;
                line-height: 20px;
                top: 6px;
                right: 28px;
            }
        }

        &:focus {
            outline: transparent;
            background-color: rgba(0, 0, 0, 0.05);
        }

        &:active {
            box-shadow: inset 5px 0px 2px rgba(0, 0, 0, 0.75);
        }
    }

    &__cart {
        background-image: url('../images/cart.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-position-y: 13px;
        background-position-x: 27px;
        padding: 13px 38px 2px;
        border-left: 1px solid #fde7d3;
        position: relative;
        transition: all .7s;
        border-radius: 0 50px 50px 0;

        &:hover {
            background-position-y: 0;
            background-position-x: 21px;
            background-size: 45%;
            outline: transparent;

            & .header__number {
                width: 20px;
                height: 20px;
                line-height: 20px;
                top: -2px;
                right: 26px;
            }
        }

        &:focus {
            outline: transparent;
            background-color: rgba(0, 0, 0, 0.05);
        }

        &:active {
            box-shadow: inset -5px 0px 2px rgba(0, 0, 0, 0.75);
        }
    }

    &__number {
        color: #334c59;
        background-color: white;
        width: 16px;
        height: 16px;
        font-size: 10px;
        line-height: 16px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 21px;
        @extend %dms-r;
        transition: all .5s;
    }

    &__user-menu {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #a3bbc8;
        background-image: url('../images/user-menu.svg');
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background-color: #74858e;
        }

        &:focus {
            outline: transparent;
            border-right: 1px solid black;
        }

        &:active {
            box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.75);
        }
    }
}