.new-trends {
    @media(max-width:$lg) {
        padding: 0;
    }

    &__slider {
        background-color: $pink-bg;
        position: relative;

        &::before {
            content: '';
            width: 634px;
            height: 634px;
            border-radius: 50%;
            background: linear-gradient(to left, white, transparent);
            position: absolute;
            top: 8%;
            right: 7%;
        }
    }

    &__item {
        outline: transparent;
    }

    &__inner {
        align-items: center;

        @media(max-width:$lg) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__content {
        padding: 215px 0 206px;

        @media(max-width:$lg) {
            padding: 100px 0 100px;
        }
    }

    &__title {
        @extend %rubik-m;
        font-size: 72px;
        line-height: 1;
        max-width: 411px;
        margin-bottom: 26px;
        color: #243f4d;
        margin-left: 0px;
        text-transform: uppercase;

        @media(max-width:$lg) {
            max-width: 100%;
            text-align: center;
        }

        @media(max-width:$sm) {
            font-size: 42px;
        }

    }

    &__text-inner {
        max-width: 375px;
        margin-bottom: 37px;

        @media(max-width:$lg) {
            max-width: 100%;
        }
    }

    &__text {
        @extend %rubik-r;
        font-size: 18px;
        line-height: 1.7;
        color: #436372;
        margin-left: 1px;
    }

    .s-right-arrow {
        fill: white;
        transition: .3s;
    }

    &__btn {
        @extend %rubik-m;
        font-size: 15px;
        line-height: 1.2;
        width: 200px;
        color: white;
        padding: 21px 20px 20px 27px;
        background-color: $bg-color;
        align-items: center;
        transition: all .5s;

        &:hover {
            background-image: url('../images/header/cart.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-position-x: 120px;
            background-size: 30%;

            .s-right-arrow {
                fill: transparent;
            }
        }

        &:focus {
            outline: transparent;
            background-color: #436372;
        }

        &:active {
            box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
        }

        @media(max-width:$lg) {
            margin: 0 auto;
        }
    }

    &__img {
        max-height: 264px;
    }

    .slick-dots {
        @extend %rubik-m;
        display: flex;
        justify-content: center;
        padding-bottom: 45px;
    }

    .slick-dots button {
        background-color: white;
        font-size: 11px;
        border: none;
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        opacity: 0.3;
        transition: all 0.3s;
        cursor: pointer;
        outline: transparent;
    }

    .slick-dots li+li {
        margin-left: 12px;
    }

    .slick-active button {
        opacity: 1;
        min-width: 15px;
        min-height: 15px;
        opacity: 1;
        outline: transparent;
    }

    &__info {
        justify-content: space-around;
        background-color: #fef7f0;
    }

    &__icon {
        justify-content: center;
    }

    .s-icon {
        fill: #a3bbc8;
        margin-bottom: auto;

    }

    &__info-item {
        width: 100%;
        justify-content: center;
        padding: 45px 0;

        &:not(:last-child) {
            border-right: 1px solid #e8e4df;
        }

        @media(max-width:$sm) {
            flex-direction: column;
            padding: 10px 0;
        }
    }

    &__info-text {
        padding-left: 25px;
        background-position: left center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(max-width:$sm) {
            text-align: center;
            padding-left: 0;
            margin: 0 auto;
        }

    }

    &__subtitle {
        @extend %dms-b;
        font-size: 18px;
        line-height: 1.2;
        color: #414141;
    }

    &__content-text {
        @extend %dms-r;
        font-size: 16px;
        line-height: 1.9;
        max-width: 213px;
        display: block;
        color: #636362;

        @media(max-width:$sm) {
            line-height: 1.2;
        }
    }
}