.catalog {
    padding-top: 120px;

    &__products {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 30px;
        margin-left: 30px;

    }

    &__pages {
        grid-column-start: 1;
        grid-column-end: 4;
        max-width: 360px;
        margin: 0 auto;
    }
}



.irs--flat .irs-line {
    height: 3px;
    background-color: #c2d2db;
}

.irs--flat .irs-bar {
    height: 4px;
    background-color: #a3bbc8;
    top: 24px;
}

.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: -2px;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    background-color: #a3bbc8;

}

.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
    background-color: #a3bbc8;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    display: none;
}