.catalog {
    padding-top: 120px;
    margin: 0 auto;

    @media(max-width: $lg) {
        flex-direction: column;
    }

    &__filters {
        @media(max-width: $lg) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px 130px;
            margin-bottom: 30px;
        }

        @media(max-width: $sm) {
            grid-gap: 30px 30px;
        }

        @media(max-width: $vs) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__products {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 30px;
        margin-left: 30px;

        @media(max-width: $lg) {
            margin: 0 auto;
        }

        @media(max-width: $md) {
            grid-gap: 30px 10px;
        }

        @media(max-width: $sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: $vs) {
            grid-template-columns: repeat(1, 1fr);

        }
    }

    &__pages {
        grid-column-start: 1;
        grid-column-end: 4;
        max-width: 360px;
        margin: 0 auto;

        @media(max-width: $sm) {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        @media(max-width: $vs) {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
}